body {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .mb-3, .mt-3{
    width: 40%;

}

.kuld{
    margin: auto;
    margin-bottom: 20px;

}
.torles{
    width: 80px;
    background-color: red;
    margin-left: 20px;
}